html{
	text-align: center;
}

body {
	height: 50%;
	background-image: url(../imgs/storm.jpg);
	background-repeat: no-repeat;
	background-position: center;

}

#controller {
	position: relative;
	margin-top: 50px;
}

h1 {
	color: white;
}

.message {
	color: yellow;
}